<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
        <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Hem", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    @if (Request.IsAuthenticated)
                    {
                    <ul class="nav navbar-nav navbar-inverse">
                        <li>
                            @Html.ActionLink("Forskning", "Posts", "Post", routeValues: new { input = "Forskning" }, htmlAttributes: null)
                        </li>
                        <li>
                            @Html.ActionLink("Utbildning", "Posts", "Post", routeValues: new { input = "Utbildning" }, htmlAttributes: null)
                        </li>
                        <li>
                            @Html.ActionLink("Övrigt", "Posts", "Post", routeValues: new { input = "Övrigt" }, htmlAttributes: null)
                        </li>
                    </ul>
                    }
                </div>
                <div class="navbar-collapse collapse">
                @if (User.IsInRole("Administratör"))
                {
                    @Html.Partial("_LoginPartialAdmin")
                }
                else
                {
                    @Html.Partial("_LoginPartial")
                }
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer style="text-align: center;">
                <p>&copy; @DateTime.Now.Year - Informatik Net</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>

    

    </html>

