@model InformatikNet.Models.ConfirmedMeetingViewModel

<h2>Bekräfta mötestid</h2>

@using (Html.BeginForm("SelectMeetingDate", "Meeting", FormMethod.Post))
{
<tr>
    <td>
        @Html.DisplayFor(x => Model.Title)
    </td>
    <br />
    <br />
    <td>
        @Html.DisplayFor(x => Model.SuggestedDate1)
        @Html.CheckBoxFor(x => Model.Select1)
        <br />
        Antal röster: @Html.DisplayFor(x => Model.SuggestedDateVotes1)
        <br />
    </td>
    <br />
    <td>
        @Html.DisplayFor(x => Model.SuggestedDate2)
        @Html.CheckBoxFor(x => Model.Select2)
        <br />
        Antal röster: @Html.DisplayFor(x => Model.SuggestedDateVotes2)
        <br />
       

    </td>
    <br />
    <td>
        @Html.DisplayFor(x => Model.SuggestedDate3)
        @Html.CheckBoxFor(x => Model.Select3)
        <br />
        Antal röster: @Html.DisplayFor(x => Model.SuggestedDateVotes3)
        <br />
       
    </td>
    <br />
    <td>
        @Html.HiddenFor(x => Model.PendingMeetingId)
    </td>
    <br />
</tr>
    <input type="hidden" name="Index" value="@Model.PendingMeetingId" />
    <input type="submit" value="Fastställ tid" />


}