@model InformatikNet.Models.PendingMeetingViewModel

@{
    ViewBag.Title = "YourPendingMeetings";
}

<h2>Rösta på tider som passar</h2>
 
            @using (Html.BeginForm("VotePedningMeeting", "Meeting", FormMethod.Post))
            {
                <tr>
                    <td>
                
                        @Html.DisplayFor(x => Model.Title)
                    </td>
                    <br />
                    <br />
                    <td>
                        @Html.DisplayFor(x => Model.SuggestedDate1)
                        @Html.CheckBoxFor(x => Model.vote1)
                    </td>
                    <br />
                    <td>
                        @Html.DisplayFor(x => Model.SuggestedDate2)
                        @Html.CheckBoxFor(x => Model.vote2)
                    </td>
                    <br />
                    <td>
                        @Html.DisplayFor(x => Model.SuggestedDate3)
                        @Html.CheckBoxFor(x => Model.vote3)
                    </td>
                    <br />
                    <br />
                    <td>
                        @Html.HiddenFor(x => Model.Id)
                    </td>
                </tr>
            <input type="hidden" name="Index" value="@Model.Id" />
            <input type="submit" value="Skicka" />

            
        


    }




