@model List<InformatikNet.Models.PendingMeetingViewModel>

@{
    ViewBag.Title = "YourPendingMeetings";
}

<h2>YourPendingMeetings</h2>
        @foreach(var item in Model)
        {
            using (Html.BeginForm("VotePedningMeeting", "Meeting", FormMethod.Post))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.SuggestedDate1)
                        @Html.CheckBoxFor(x => item.vote1)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.SuggestedDate2)
                        @Html.CheckBoxFor(x => item.vote2)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.SuggestedDate3)
                        @Html.CheckBoxFor(x => item.vote3)
                    </td>
                    <td>
                        @Html.HiddenFor(x => item.Id)
                    </td>
                </tr>
            <input type="hidden" name="Index" value="@item.Id" />
            <input type="submit" value="BOCK" />
           

            }
        }


    }




