@model InformatikNet.Models.PostViewModel

@{
    ViewBag.Title = "Posts";
}
<script>
    
    function onload()
    {
        document.getElementById("tagsearch").value = "";
    };

</script>
<body onload="onload()">
    <h2>@Html.DisplayFor(model => model.Category)</h2>

    <div style="margin-bottom: 15%;">
        @using (Html.BeginForm("Posts", "Post"))
        {
        <td>
            @Html.TextBox("tag", null, htmlAttributes: new { id = "tagsearch", style = "border-radius: 4px; height: 28px; margin-right: 8px;" })<input type="submit" value="Search" class="btn btn-primary btn-sm" />
        </td>
        }

        @{
            if (Model.Category == "Anslag Forskning")
            {
                if (User.IsInRole("Forskare") || User.IsInRole("Administratör"))
                {
                    <div class="navbar-right">
                        @Html.ActionLink("Nytt inlägg", "Create", routeValues: new { category = Model.Category }, htmlAttributes: new { @class = "btn btn-primary btn-large" })
                    </div>
                }
            }
            else if (Model.Category == "Anslag Utbildning")
            {
                if (User.IsInRole("Lärare") || User.IsInRole("Administratör"))
                {
                    <div class="navbar-right">
                        @Html.ActionLink("Nytt inlägg", "Create", routeValues: new { category = Model.Category }, htmlAttributes: new { @class = "btn btn-primary btn-large" })
                    </div>
                }

            }
            else
            {
                <div class="navbar-right">
                    @Html.ActionLink("Nytt inlägg", "Create", routeValues: new { category = Model.Category }, htmlAttributes: new { @class = "btn btn-primary btn-large" })
                </div>
            }

        }
       

    </div>
    <div style="overflow: scroll; max-height: 500px; scrollbar-3dlight-color:ActiveBorder">
        <table class="table">
            @for (int i = Model.Posts.Count - 1; i >= 0; i--)
            {

                    <div class="container" style="text-align:center;">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div id="postlist>
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <div class="text-center">
                                                <div class="row">
                                                    <div class="col-sm-9">
                                                        <h3 class="pull-left">@Html.DisplayFor(modelItem => modelItem.Posts.ToArray()[i].Title)</h3>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h4 class="pull-right">
                                                            <span class="label label-default">@Html.DisplayFor(modelitem => modelitem.Posts.ToArray()[i].Tag.Name)</span>

                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel-footer">
                                            <img src="@Url.Action("Photos", "Home", routeValues: new {id= Model.Posts.ToArray()[i].Id } )"  style="width:300px;height:300px;  background: rgba(255, 255, 255, 0.00);
                                            margin: auto;
                                            -moz-border-radius: 60px;
                                            border-radius: 30px;
                                            padding: 6px;" />
                                            <br />
                                            <br />
                                            <div style="margin-left: 15%; margin-right: 15%;word-wrap: break-word;">
                                                @Html.DisplayFor(modelItem => modelItem.Posts.ToArray()[i].Content)
                                            </div>

                                        </div>

                                        <div class="panel-footer">
                                            <span class="label label-default">Image</span> <span class="label label-default">Updates</span> <span class="label label-default">July</span>
                                            <p class=""> Skriven av: @Html.DisplayFor(modelitem => modelitem.Posts.ToArray()[i].Author.Name)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <hr />
                    
                }

    </table>
</div>
    </body>