@model InformatikNet.Models.PostViewModel

@{
    ViewBag.Title = "Posts";
}

<h2>@Html.DisplayFor(model => model.Category)</h2>

<p>
    @Html.ActionLink("Nytt inlägg", "Create",routeValues: new {category = Model.Category  }, htmlAttributes: new { @class = "btn btn-primary btn-large" })
</p>

<table class="table">

    @foreach (var item in Model.Posts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.Author.UserName)
                @Html.DisplayFor(modelItem => item.Title)
                @Html.DisplayFor(modelitem => item.Tag.Name)
                @Html.DisplayFor(modelItem => item.Content)
            </td>
        </tr>
    }

</table>