@model InformatikNet.Models.IndexViewModel
@{
    ViewBag.Title = "Inställningar";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4></h4>
    <br />
    <hr />
    <dl class="dl-horizontal">
        <dt>Lösenord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
        {
            @Html.ActionLink("Byt Lösenord", "ChangePassword")
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
}
            ]
        </dd>
        @if (User.IsInRole("Administratör"))
    {
        <dt>Taggar:</dt>
        <dd>
            [ @Html.ActionLink("Redigera Taggar", "ManageTaggs") ]
        </dd>
}
        <div>
            <br />
            @if (User.IsInRole("Administratör"))
        {
            @Html.ActionLink("Skicka ut dagligt mailutskick", "DailyMail", "Home", null, htmlAttributes: new { @class = "btn btn-primary btn-xs" })

    }
        </div>
    </dl>
</div>
